<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<h2 id="errors">There are
			<%= pluralize(@post.errors.count, "error")  %>
			to fix.
		</h2>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				 <li><%= msg %> </li>
			<% end %>
		</ul>
	<% end %>
	
	<div class="form-group">
		<p>
			<%= f.label :title %>
		<br>
			<%= f.text_field :title, class: "form-control" %>
		</p>
	</div>
	<div class="form-group">
		<p>
			<%= f.label :body %>
			<br>
			<%= f.text_area :body, class: "form-control" %>
		</p>
	</div>

	<p>
		<%= f.submit %>
	</p>		
<% end %>