<h1>
	Title:
	<%= @post.title %>
</h1>

<p>
	Created:
	<%= time_ago_in_words(@post.created_at) %>
</p>

<p>
	<%= @post.body %>
</p>

<% if user_signed_in? %>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: "Are you certain?" } %>

<% end %>

<div id="comments">
	<p>
		<%= @post.comments.count %> 
	</p>

	<%= render @post.comments %>

	<h3>Join Discussion</h3>
	<%= render "comments/form" %>
</div>