<div class="container">

	<div class="row">
		<div class="col-8">					
			<h1>
				<%= @post.title %>
			</h1>

			<p>
				Written <%= time_ago_in_words(@post.created_at) %> ago
			</p>
	
				<% @post.body.split("\n").each do |paragraph| %>
				<p>
					<%= paragraph.html_safe %>
				</p>
				<% end %>
		</div>
	</div>

	<% if user_signed_in? %>

	<%= link_to 'Edit', edit_post_path(@post) %>
	<%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: "Are you certain?" } %>

	<% end %>
	
	<div class="col-12">
		<%= link_to 'return to main page', root_path %>
	</div>
	<div class="col-12 pb-5">
		<%= link_to 'return to blog page', posts_path %>
	</div>

	<div id="comments">
		
	<h4>
		<%= @post.comments.count %> Comments
	</h4>	
		
		
	<%= render @post.comments %>
		
		
	<h3>Join Discussion</h3>
	<%= render "comments/form" %>
		
	</div>

</div>